server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password: 
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
    show-sql: false
  h2:
    console:
      enabled: true
  jackson:
    default-property-inclusion: non_null

jwt:
  secret: ${JWT_SECRET:0123456789ABCDEF0123456789ABCDEF}
  expiration: ${JWT_EXPIRATION:3600000}